<div class="container">
  <div class="row">
    <div class="four col-md-3">
      <div class="counter-box colored">
        <i class="fa fa-thumbs-o-up"></i>
        <span class="counter">2147</span>
        <p>Happy Customers</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa fa-group"></i>
        <span class="counter">3275</span>
        <p>Registered Members</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa fa-shopping-cart"></i>
        <span class="counter">289</span>
        <p>Available Products</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box">
        <i class="fa fa-user"></i>
        <span class="counter">1563</span>
        <p>Saved Trees</p>
      </div>
    </div>
  </div>
</div>

<div class="container justify-content-center" style="padding-top: 20px">
  <div class="row">
    <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5986874.497500856!2d17.230003380275804!3d42.888069178014355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb1d76e418489%3A0x2d0bb9644fff61b!2sSan%20Marco%20Meydan%C4%B1!5e0!3m2!1str!2str!4v1694780985606!5m2!1str!2str"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="col-md-6"> 
          <div class="row align-items-stretch justify-content-center no-gutters">

              <div class="form h-100 contact-wrap ">
                <h3 class="text-center">Let's Talk</h3>
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                  <div class="row">
                    <div class="col-md-6 form-group mb-3">
                      <label for="" class="col-form-label">Name *</label>
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label for="" class="col-form-label">Email *</label>
                      <input type="email" class="form-control" name="email" id="email"  placeholder="Your email">
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label for="budget" class="col-form-label">Subject</label>
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="Your subject">
                    </div>
                  </div>
    
                  <div class="row mb-5">
                    <div class="col-md-12 form-group mb-3">
                      <label for="message" class="col-form-label">Message *</label>
                      <textarea class="form-control" name="message" id="message" cols="30" rows="4"  placeholder="Write your message"></textarea>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col-md-5 form-group text-center">
                      <input type="submit" value="Send Message" class="btn btn-block btn-dark rounded-0 py-2 px-4">
                      <span class="submitting"></span>
                    </div>
                  </div>
                </form>
    
                <div id="form-message-warning mt-4"></div> 
                <div id="form-message-success">
                  Your message was sent, thank you!
                </div>
    
 
            </div>
          </div>  
    
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/main.js"></script>
    </div>
  </div>
</div>

<div class="container" >
  <footer class="py-3 my-4" >
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted" style="color: aliceblue"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Features</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">Pricing</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">FAQs</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">About</a>
      </li>
    </ul>

    <p class="text-center text-muted" style="padding-top: 50px">
      © 2021 Company, Inc
    </p>
  </footer>
</div>
